<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
    table, td, th {
     padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
</style>
</head>
<body>
    <h2>abc</h2>
    <table>
        <tr style='background-color: gainsboro;'>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
        </tr>
    </table>
</body>
</html>